<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/login.css")
    body
        .wrapper 
            block content

        script.
            if(window.location.hostname !== 'localhost') {
                if (location.protocol !== 'https:') {
                    location.replace(`https:${location.href.substring(location.protocol.length)}`);
                }
            }