doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/about.css")
        title Paint
    body 
        .wrapper 
            .firstSlide
                .firstSlideContents 
                    img(src="/images/logo.png", alt="Logo", height="100", width="100")
                    span.headingText Shareable Paint App to show your creativity
                    span.subHeading Available for all devices with many features built in
                    span.button Take me there

                    .division 
                        img(src="/images/laptop.jpeg", alt="Laptop Running the Paint App")
                img.boxRotation(src="/images/boxRotation.png", alt="Box Rotation")
                img.circleRotation(src="/images/circleRotation.png", alt="Circle Rotation")