doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/about.css")
        title Paint
    body 
        .wrapper 
            .firstSlide
                .firstSlideContents 
                    img(src="/images/logo.png", alt="Logo", height="100", width="100")
                    span.headingText Shareable Paint App to show your creativity
                    span.subHeading Available for all devices with many features built in
                    span.button Take me there

                    .division 
                        img(src="/images/laptop.webp", alt="Laptop Running the Paint App")
                img.boxRotation(src="/images/boxRotation.png", alt="Box Rotation")
                img.circleRotation(src="/images/circleRotation.png", alt="Circle Rotation")

            .secondSlide
                .infoSlide 
                    .infoSlideText
                        span.slideTitle TEMPLATES FOR YOU
                        span.slideSubTitle Choose from a variety of templates to get started
                        span.slideExplanation Not sure what to paint? No problem! Now click on the template you want to use and start painting! All the templates are available for free!
                    .infoSlideVideo
                        video(src="/videos/chooseAnything.webm", autoplay="autoplay", loop="loop", muted="muted")
                .infoSlide 
                    .infoSlideText
                        span.slideTitle INSTANT EDIT
                        span.slideSubTitle Edit the title of your painting in real time
                        span.slideExplanation Don't like the title? No problem! Now click on the title and start typing! All the titles are updated in real time!
                    .infoSlideVideo
                        video(src="/videos/changeTitle.webm", autoplay="autoplay", loop="loop", muted="muted")
                .infoSlide 
                    .infoSlideText
                        span.slideTitle ALL COLORS AND SIZES
                        span.slideSubTitle Choose from a variety of colors and sizes to get started
                        span.slideExplanation You always don't have to go with the default colors and sizes. Now click on the color and size you want to use and start painting!
                    .infoSlideVideo
                        video(src="/videos/manyColors.webm", autoplay="autoplay", loop="loop", muted="muted")
                .infoSlide 
                    .infoSlideText
                        span.slideTitle SHARE WITH ANYONE
                        span.slideSubTitle Share your painting with just a click!
                        span.slideExplanation Click on the share button and select the app you want to share your painting with! Everything is auto-saved so you don't have to worry about losing your work!
                    .infoSlideVideo
                        video(src="/videos/share.webm", autoplay="autoplay", loop="loop", muted="muted")
                .infoSlide 
                    .infoSlideText
                        span.slideTitle SAVE ANYWHERE
                        span.slideSubTitle Download your paint as a PNG file!
                        span.slideExplanation Click on the download button and save your painting as a PNG file! It will be saved with your paint title as the file name!
                    .infoSlideVideo
                        video(src="/videos/download.webm", autoplay="autoplay", loop="loop", muted="muted")
                .infoSlide 
                    .infoSlideText
                        span.slideTitle EDIT OTHER PAINTS
                        span.slideSubTitle Edit your existing paints anytime!
                        span.slideExplanation All paints are auto-saved so you can always go back to your previous work!
                    .infoSlideVideo
                        video(src="/videos/editExisting.webm", autoplay="autoplay", loop="loop", muted="muted")
                .infoSlide 
                    .infoSlideText
                        span.slideTitle DELETE ANYTIME
                        span.slideSubTitle Click on the Delete button to delete your painting!
                        span.slideExplanation Changed your mind? Click on the delete button to delete your paint and revoke access to anyone who has access to its link!
                    .infoSlideVideo
                        video(src="/videos/delete.webm", autoplay="autoplay", loop="loop", muted="muted")