extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/paint.css")

block content
    .paintPageWrapper
        .paintPageHeader
            .centralizedDivForPaint
                .deleteButton 
                    span Delete
                    img(src="/svgs/delete.svg", alt="Delete")
            .paintPageTitle
                span #{pageTitle}
            .centralizedDivForPaint
                .downloadButton
                    span Download
                    img(src="/svgs/download.svg", alt="Download")
                .shareButton
                    span Share
                    img(src="/svgs/share.svg", alt="Share")
        
        .paintPageContent
            div#sketch
                canvas#paint

        .paintTools 
            .settings.colors
                button#blue &#8203; 
                button#red &#8203;
                button#green &#8203;
                button#white

            .settings.size 
                input#brushSize(type="range", min="1", max="20", value="2", step="1")

            

block scripts 
    script(src="/js/canvas2svg.min.js")
    script(src="/js/paint.js")
