extends layouts/main-layout.pug
block content
    .paintPageWrapper
        .paintPageHeader
            .deleteButton 
                span Delete
            .paintPageTitle
                span Paint
            .downloadButton
                span Download
            .shareButton
                span Share
            

block scripts 
    script(src="/js/paint.js")
