extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/paint.css")

block content
    .paintPageWrapper
        .paintPageHeader
            .centralizedDivForPaint
                .deleteButton 
                    span Delete
                    img(src="/svgs/delete.svg", alt="Delete")
            .paintPageTitle
                span #{pageTitle}
            .centralizedDivForPaint
                .downloadButton
                    span Download
                    img(src="/svgs/download.svg", alt="Download")
                .shareButton
                    span Share
                    img(src="/svgs/share.svg", alt="Share")
        
        .paintPageContent
            div#sketch
                canvas#paint

        .paintTools 
            .settings.colors
                | Colours
                button#blue 
                button#red 
                button#green 
                button#white 
            .settings.size
                | Brush Size
                button#2 
                button#5 
                button#10 
                button#20 

            

block scripts 
    script(src="https://cdn.jsdelivr.net/npm/canvas2svg@1.0.16/canvas2svg.min.js")
    script(src="/js/paint.js")
