@font-face {
    font-family: "sans";
    src: url(/css/sans.ttf);
    font-weight: 500;
    font-display: swap;
}

html, body {
    min-height: 100%;
    margin: 0;
    font-family: "sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
}

.firstSlide {
    margin-top: 10rem;
    position: relative;
    background-color: #FFF;
    min-height: 59vh;
    background-image: linear-gradient(0deg, #ecf3fe, #ecf2fe, #eef4ff, #f1f5fe, #f3f7ff, #ffffff);
    padding-bottom: 3rem;
}

.firstSlideContents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.headingText {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
    z-index: 3;
}

.subHeading {
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.button {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #fff;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    padding: 0 24px;
    -webkit-transition: background-color,color .3s;
    transition: background-color,color .3s;
    background-color: #1967d2;
    -webkit-appearance: button;
    margin-bottom: 8px;
    padding: 12px 24px;
    z-index: 3;
}

.button:hover {
    transform: scale(1.05);
    transition: all 0.02s ease-out;
}

.division {
    margin-top: 2rem;
}

.division img {
    width: 700px;
    z-index: 3;
    aspect-ratio: 1.72;
}

.boxRotation {
    position: absolute;
    bottom: 40px;
    left: 0;
    animation: rotation 20s infinite linear;
}

.circleRotation {
    position: absolute;
    top: 0;
    right: 0;
    animation: rotation 25s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.secondSlide {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 75vw, 1100px);
    margin: 5rem auto;
    position: relative;
}

.infoSlide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 10px;
}

.infoSlide:nth-child(odd) {
    flex-direction: row-reverse;
}

.infoSlideText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: clamp(253px, 400px, 600px);
    padding: 1rem;
}

.slideTitle {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 0.15rem 1rem;
    z-index: 3;
}

.slideSubTitle {
    padding: 8px 1rem 1rem;
    font-size: 36px;
}

.slideExplanation {
    padding: 1rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    text-align: justify;
}

.infoSlideVideo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoSlideVideo video {
    width: 400px;
    filter: drop-shadow(2px 4px 6px #44444444);
    border: 0;
    border-radius: 8px;
}

.thirdSlide {
    padding: 1rem;
    background-color: #f2f3f5;
    color: #414146;
}

.thirdSlideContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 50px 32px;
}

.thirdSlideContainer ul {
    padding-left: 15px;
    list-style: square;
    margin: 0.2rem 0;
}

.thirdSlideContainer li {
    padding-bottom: 11px;
}

.thirdSlideContainer a {
    color: #0070f3;
    text-decoration: none;
}

.thirdSlideContainer a:hover {
    color: #0076ffe6;
}

.techUsed, .webAPI, .documentation {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 1rem;
}

.techUsed span:nth-child(1), .webAPI span:nth-child(1), .documentation span:nth-child(1) {
    font-size: 1.1rem;
    font-weight: 600;
}

.techUsed span, .webAPI span, .documentation span {
    padding-bottom: 11px;
}

@media screen and (max-width: 1130px) {
    
    .infoSlide, .infoSlide:nth-child(odd) {
        flex-direction: column;
    }
    
    .secondSlide {
        width: 80%;
    }
    .infoSlideVideo video {
        width: 584px;
    }
    .infoSlideText {
        width: 80%;
    }  
}

@media screen and (max-width: 768px) {
    
    .infoSlide, .infoSlide:nth-child(odd) {
        flex-direction: column;
    }
    .secondSlide {
        width: 80%;
    }  
    .infoSlideText {
        width: 80%;
    }  
    .infoSlideVideo video {
        width: 584px;
    }
    .firstSlide {
        min-height: 85vh;
        padding-bottom: 0;
    }
    .boxRotation, .circleRotation {
        display: none;
    }
    .division img {
        width: 700px;
        aspect-ratio: 1.72;
    }
}

@media screen and (max-width: 30em) {
    .firstSlide {
        min-height: 105vh;
    }

    .infoSlide, .infoSlide:nth-child(odd) {
        flex-direction: column;
    }
    
    .infoSlideText {
        width: 100%;
    }
    
    .infoSlideVideo video {
        width: 90%;
    }
    
    .division img {
        width: 325px;
        aspect-ratio: 1.72;
        height: 200px;
    }

    .boxRotation, .circleRotation {
        display: none;
    }
    
    .secondSlide {
        margin-top: 1rem;
        width: 100%;
    }
}